In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Quebra dos dados de train/test
from sklearn.model_selection import train_test_split

# Feature selection
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler

# Modelo de Classificação
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

# Validação Cruzada
from sklearn.model_selection import cross_val_score

# Métricas
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import make_scorer

# Tuning de hiperparâmetros
from sklearn.model_selection import GridSearchCV

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', None)

In [5]:
metadados = pd.read_excel('metadata.xlsx')
metadados

,Feature,Feature_Type,Description
0,age,numeric,age of a person
1,job,"Categorical,nominal","type of job ('admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')"
2,marital,"categorical,nominal","marital status ('divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)"
3,education,"categorical,nominal","('basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')"
4,default,"categorical,nominal","has credit in default? ('no','yes','unknown')"
5,housing,"categorical,nominal","has housing loan? ('no','yes','unknown')"
6,loan,"categorical,nominal","has personal loan? ('no','yes','unknown')"
7,contact,"categorical,nominal","contact communication type ('cellular','telephone')"
8,month,"categorical,ordinal","last contact month of year ('jan', 'feb', 'mar', …, 'nov', 'dec')"
9,dayofweek,"categorical,ordinal","last contact day of the week ('mon','tue','wed','thu','fri')"
10,duration,numeric,"last contact duration, in seconds . Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no')"
11,campaign,numeric,number of contacts performed during this campaign and for this client (includes last contact)
12,pdays,numeric,number of days that passed by after the client was last contacted from a previous campaign (999 means client was not previously contacted)
13,previous,numeric,number of contacts performed before this campaign and for this client
14,poutcome,"categorical,nominal","outcome of the previous marketing campaign ('failure','nonexistent','success')"
15,y,binary,"has the client subscribed a term deposit? ('yes','no')"

In [6]:
df = pd.read_csv('new_train.csv', sep=',')
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,49,blue-collar,married,basic.9y,unknown,no,no,cellular,nov,wed,227,4,999,0,nonexistent,no
1,37,entrepreneur,married,university.degree,no,no,no,telephone,nov,wed,202,2,999,1,failure,no
2,78,retired,married,basic.4y,no,no,no,cellular,jul,mon,1148,1,999,0,nonexistent,yes
3,36,admin.,married,university.degree,no,yes,no,telephone,may,mon,120,2,999,0,nonexistent,no
4,59,retired,divorced,university.degree,no,no,no,cellular,jun,tue,368,2,999,0,nonexistent,no

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32950 entries, 0 to 32949
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          32950 non-null  int64
 1   job          32950 non-null  object
 2   marital      32950 non-null  object
 3   education    32950 non-null  object
 4   default      32950 non-null  object
 5   housing      32950 non-null  object
 6   loan         32950 non-null  object
 7   contact      32950 non-null  object
 8   month        32950 non-null  object
 9   day_of_week  32950 non-null  object
 10  duration     32950 non-null  int64
 11  campaign     32950 non-null  int64
 12  pdays        32950 non-null  int64
 13  previous     32950 non-null  int64
 14  poutcome     32950 non-null  object
 15  y            32950 non-null  object
dtypes: int64(5), object(11)
memory usage: 4.0+ MB

In [8]:
# Olhando se tem alguma correlação entre as variáveis
df.corr()

               age  duration  campaign     pdays  previous
age       1.000000 -0.001841  0.003302 -0.032011  0.020670
duration -0.001841  1.000000 -0.075663 -0.047127  0.022538
campaign  0.003302 -0.075663  1.000000  0.053795 -0.079051
pdays    -0.032011 -0.047127  0.053795  1.000000 -0.589601
previous  0.020670  0.022538 -0.079051 -0.589601  1.000000

In [9]:
df['poutcome'].value_counts()

nonexistent    28416
failure         3429
success         1105
Name: poutcome, dtype: int64

Criando uma nova variável para a modelagem com base em poutcome e previous

In [10]:
df['difficulty'] = -1 # desconhecido
df.loc[(df['poutcome'] == 'success') & (df['previous'].between(0, 1)), 'difficulty'] = 0 # fácil
df.loc[(df['poutcome'] == 'success') & (df['previous'].between(2, 4)), 'difficulty'] = 1 # médio
df.loc[(df['poutcome'] == 'success') & (df['previous'].between(5, 7)), 'difficulty'] = 2 # difícil
df.loc[(df['poutcome'] == 'nonexistent') & (df['previous'] > 7), 'difficulty'] = 3 # muito difícil
df.loc[(df['poutcome'] == 'failure'), 'difficulty'] = 4 # impossível
df['difficulty'].value_counts()

-1    28416
 4     3429
 0      697
 1      391
 2       17
Name: difficulty, dtype: int64

ABT - Analytical Base Table

In [11]:
# Checando por nulo
df.isnull().sum()

age            0
job            0
marital        0
education      0
default        0
housing        0
loan           0
contact        0
month          0
day_of_week    0
duration       0
campaign       0
pdays          0
previous       0
poutcome       0
y              0
difficulty     0
dtype: int64

In [12]:
# Separação da Var resposta das variáveis explicativas
explicativas = df.drop(columns=['y'])
explicativas.tail()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,difficulty
32945,28,services,single,high.school,no,yes,no,cellular,jul,tue,192,1,999,0,nonexistent,-1
32946,52,technician,married,professional.course,no,yes,no,cellular,nov,fri,64,1,999,1,failure,4
32947,54,admin.,married,basic.9y,no,no,yes,cellular,jul,mon,131,4,999,0,nonexistent,-1
32948,29,admin.,married,university.degree,no,no,no,telephone,may,fri,165,1,999,0,nonexistent,-1
32949,35,admin.,married,university.degree,no,no,yes,telephone,jun,tue,544,3,999,0,nonexistent,-1

In [13]:
# Tratar a variável resp (trocando 'yes' e 'no' por 1 e 0)
var_resp = df['y']
var_resp = var_resp.replace('no', 0)
var_resp = var_resp.replace('yes', 1)
var_resp.value_counts()

0    29238
1     3712
Name: y, dtype: int64

In [16]:
# Tratamento das variáveis explicativas categóricas (aplicando 'enconding")

expl_cat = explicativas[['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome', 'difficulty']]
expl_num = explicativas[['age', 'duration', 'campaign', 'pdays', 'previous']]

expl_cat_enconding = pd.get_dummies(expl_cat, prefix_sep='_', columns=expl_cat.columns, drop_first=True)
expl_cat_enconding.head()

,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,marital_married,marital_single,marital_unknown,education_basic.6y,education_basic.9y,education_high.school,education_illiterate,education_professional.course,education_university.degree,education_unknown,default_unknown,default_yes,housing_unknown,housing_yes,loan_unknown,loan_yes,contact_telephone,month_aug,month_dec,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success,difficulty_0,difficulty_1,difficulty_2,difficulty_4
0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1
2,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0

In [17]:
explicativas_tratadas = expl_num.merge(expl_cat_enconding, left_index=True, right_index=True)
explicativas_tratadas.head()

,age,duration,campaign,pdays,previous,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,marital_married,marital_single,marital_unknown,education_basic.6y,education_basic.9y,education_high.school,education_illiterate,education_professional.course,education_university.degree,education_unknown,default_unknown,default_yes,housing_unknown,housing_yes,loan_unknown,loan_yes,contact_telephone,month_aug,month_dec,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success,difficulty_0,difficulty_1,difficulty_2,difficulty_4
0,49,227,4,999,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0
1,37,202,2,999,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1
2,78,1148,1,999,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
3,36,120,2,999,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0
4,59,368,2,999,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0

Feature Selection

In [18]:
# Seleção das variáveis categóricas - vamos usar chi2
# necessário fazer normalização antes
expl_cat_norm = MinMaxScaler().fit_transform(expl_cat_enconding)
expl_cat_norm

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [19]:
chi_selector = SelectKBest(chi2, k=5)
chi_selector.fit(expl_cat_norm, var_resp)

SelectKBest(k=5, score_func=<function chi2 at 0x7fa36de74700>)

In [20]:
chi_support = chi_selector.get_support()
chi_feature = expl_cat_enconding.loc[:, chi_support].columns.to_list()

In [21]:
chi_feature

['month_mar', 'month_oct', 'poutcome_success', 'difficulty_0', 'difficulty_1']

In [22]:
# Seleção das variáveis numéricas (vamos usar regressão logística)
rfe_selector = RFE(estimator=LogisticRegression(random_state=42, max_iter=200), n_features_to_select=3, step=1)

In [23]:
rfe_selector.fit(expl_num, var_resp)

RFE(estimator=LogisticRegression(max_iter=200, random_state=42),
    n_features_to_select=3)

In [24]:
rfe_support = rfe_selector.get_support()
rfe_feature = expl_num.loc[:, rfe_support].columns.tolist()
rfe_feature

['age', 'campaign', 'previous']

In [25]:
# Base a ser considerada no processo de modelagem
expl_num_feature_selection = expl_num[['age', 'campaign', 'previous']]
expl_num_feature_selection.head()

   age  campaign  previous
0   49         4         0
1   37         2         1
2   78         1         0
3   36         2         0
4   59         2         0

In [26]:
# As features categóricas selecionadas foram ['month_mar', 'month_oct', 'poutcome_success', 'difficulty_0', 'difficulty_1'], mas não faz sentido segregar tanto,
# então traz as que são 'pais" destas. E depois trata novamente
expl_cat_feature_selection = expl_cat[['month', 'poutcome', 'difficulty']]
expl_cat_feature_selection = pd.get_dummies(expl_cat_feature_selection, prefix_sep='_', columns=expl_cat_feature_selection.columns, drop_first=True)
expl_cat_feature_selection.head()

,month_aug,month_dec,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_nonexistent,poutcome_success,difficulty_0,difficulty_1,difficulty_2,difficulty_4
0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
2,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0

In [27]:
explicativas_modelagem = expl_num_feature_selection.merge(expl_cat_feature_selection, left_index=True, right_index=True)
explicativas_modelagem.tail()

,age,campaign,previous,month_aug,month_dec,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_nonexistent,poutcome_success,difficulty_0,difficulty_1,difficulty_2,difficulty_4
32945,28,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
32946,52,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
32947,54,4,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
32948,29,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
32949,35,3,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0